<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{post.title}}</h1>
        <br>
        글쓴이 : {{post.writer.nickname}}
        {% if user != post.writer %}
        <a href="">[쪽지 보내기]</a>
        {% endif %}
        <br>
        내용 : {{post.body}}
        <br>

    {% if user == post.writer %}
        <a href="{% url 'board:update' post.id %}">글 수정하기</a>
        <a href="{% url 'board:delete' post.id %}">글 삭제</a>
    {% endif%}
    <br>
    <a href="{% url 'board:home' %}">뒤로가기</a>
    <br>
    <h4>댓글달기</h4>
    <form action="{% url 'board:comment' post.id %} " method="POST">
        <textarea name="content" cols="60" rows="5"></textarea>
        <input type="checkbox" name = 'anonymous' checked>익명
        <input type="submit" value = '작성'>
    </form>
    <br>
    {% for comment in comment %}
    {% if comment.post == post %}
    작성자 : {% if not comment.anonymous %} {{comment.user.nickname}} 
            {% else %} 익명 
            {% endif %}
    // 작성시간 : {{comment.comment_time}}
    <br>
    {{comment.content}}    {% if comment.user == user %}
    <a href="{% url 'board:comment_delete' comment.id post.id %}">댓삭</a>
    {% endif %}
    <br>
    {% endif %}
    {% endfor %}
</body>
</html>